* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1.5rem;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  row-gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.numbersInput {
  all: unset;
  width: 100px;
  padding: 5px 10px;
  font-size: 1rem;

  border: 2px solid hsl(0, 0%, 65%);
  transition: .25s;
}

.button {
  all: unset;
  font-size: 1rem;
  padding: 5px 10px;

  border: 2px solid hsl(0, 0%, 65%);
  transition: .15s;
}

.info {
  color: rgba(0, 0, 0, .5);
  font-size: 1.1rem;

}

#combination {
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

#combinationsLeft {
  margin-bottom: -2px;
}

.numbersInput:focus,
button:active {
  border: 2px solid hsl(0, 0%, 25%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}